#HostLobby{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    height: 90%;
}
#HostLobby div{
    display: flex;

    justify-content: center;
    align-items: stretch;
}


#HostLobby .Host-form{
    padding: 8px 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    grid-template-areas:
    "F F F"
    ". . ."
    "S S S"
    "B B .";
   
    justify-content: center;
    align-items: center;
    height: 100%;
 
}
.Host-input-container
{
    flex-direction: column;
    grid-area: F;
}


.Host-slider{
    display: column;
    gap: 16px;

    min-width: 150px;
}
.Host-slider-container{
    flex-direction: column;
    grid-area: S;
   
}
.Host-form > button
{
    grid-area: B;
}