#SearchMenu > .Submenu-content
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    padding-top: 1.5rem;
}

#SearchMenu button:not(.Lobby-item button)
{
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #6832E3;
    border-radius: 50%;
    font-size: 1.125rem;
    background-color: transparent;
    color: var(--font-color-default);
}

#SearchMenu .Forms,.Lobbies
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.Forms
{
    width: 50%;
}
.Form-connect
{
    margin: 0 0 2rem 0;
}
.Form-connect > form
{
    display: grid;
    width: 100%;
    grid-template-columns:  75% 25%;
    grid-template-rows: auto auto;
    gap: 0.5rem 1rem;
    
    justify-content: center;
    align-items: center;

}
.Form-connect > form > .Status
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Form-search > form
{
    display: grid;
    grid-template-columns:  auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 0.5rem 1rem;
    
    justify-content: center;
    align-items: center;
}
.Search-refresh-default
{
    grid-column: span 2;
    background-color: var(--button-color-default);
}
.Search-refresh-pressed
{
    grid-column: span 2;
    background-color: var(--button-color-pressed);
}
.Search-refresh-hovered
{
    grid-column: span 2;
    background-color: var(--button-color-hovered);
}

/*DROPDOWN CHECKBOXES >>>>>>>>>>>>>>>>>>>>>>>>*/
.Dropdown
{
    grid-column: span 2;
}
.Dropdown-button
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 2rem;
    background-color: var(--button-color-default);
}
  
#checkboxes 
{
    background-color: var(--accent-color-green);
}
 
#checkboxes label 
{
    display: block;

}
#checkboxes label:hover 
{
    background-color:  var(--button-color-hovered);
}
#checkboxes label input
{    
    margin: 0 1rem;
}
  
 
/*DROPDOWN CHECKBOXES <<<<<<<<<<<<<<<<<<<<<<*/

.Lobbies
{

    width: 100%;
}

.Lobby-list-content
{
    display: flex;
    flex-direction: column;

    align-items: center;
    overflow-y: scroll;
    flex-grow: 1;
    width: 100%;
    padding: 0 2rem;
    gap: 1rem;
}


.Lobby-list-header
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 16px;
    
    width: 100%;
    height: auto;


    margin: 0 0 1.5rem 0;
}


.Lobby-search{
    width: 90%;
}

.Lobby-list-header-content{
    display: flex;
    width: 50%;
    min-width: 250px;
    justify-content: space-around;
    align-items: center;
}

.Lobby-list-header .Button-container
{
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 8px;

}


.Lobby-item 
{
   
    justify-content: space-between;
    align-items: center;
    line-height: 100%;

    display: grid;
    grid-template-columns: 4fr 2fr 1fr 1fr;

    width: 100%;
    max-width: 400px;
    background-color: #6732e38f;
    
    border: 0px;
    border-radius: 20px;
    padding: 0 1rem 0 1rem;
}

.Lobby-item > div:not(.Title)
{
display: flex;
justify-content: center;
align-items: center;
height: 45px;
}
.Lobby-list-content > *:hover
{
    background-color: var(--accent-color-green);
}
@media only screen and (max-width: 600px) {
    .Lobby-list-header{
        margin-top: 20px;
    }
    .Lobby-list-header-content{
        justify-content: space-around;
    }
    
}