.Wrapper-narrow
{
    width:  min(80%,320px);
    height: min(75%,400px);

    display: flex;
    justify-content: center;
    align-items: center;

    /* For testing */
    border: 0px dashed red;
}
.Wrapper-main
{
    width: min(80%,320px);
    height: min(75%,480px);

    display: flex;
    justify-content: center;
    align-items: center;

    /* For testing */
    border: 0px dashed red;    
}
.Wrapper-submenu
{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    .Wrapper-submenu{
        width: 95%;

}
}